
.Form {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.FormLabel {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin: 0 0 0 10%;
}

.FormField {
    display: inline-block;
    width: 40%;
    margin: 0 10% 4% 4%;
}